<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mohak.mvpandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MvpAndroid"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:label"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SignUp.SignUpActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Detail.DetailActivity"
            android:label="@string/title_activity_detail_show"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.About"
            android:parentActivityName=".ui.Main.MainActivity">

        </activity>
    </application>

</manifest>